.container,.progress,.slider-info {
    align-items: center;
    justify-content: center;
}

.container,video,.btn-image,.slider-info ,.now-time, slider,.duration-time {
    height: 100%;
}

.container,video,.progress ,.now-time {
    width: 100%;
}

video,.progress,.now-time,.duration-time {
    position: absolute;
}

video {
    background-color: black;
}

image {
    width: 80px;
    aspect-ratio: 1;
}

.progress {
    height: 100px;
    bottom: 0;
}

.btn-image {
    align-items: center;
    justify-content: flex-end;
    width: 60px;
}

.slider-info {
    flex: 1;
    margin-right: 20px;
}

.image-info image {
    width: 40px;
    aspect-ratio: 1;
    margin-right: -10px;
}

.now-time {
    color: white;
    left: -10px;
    z-index: 1;
}

slider {
    width: 90%;
    color: #888;
    selected-color: white;
    z-index: 0;
}

.duration-time {
    color: white;
    right: -15px;
    z-index: 1;
}